* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    position: relative;
}
html{
    width: 100%;
    height: 100%;   
}
.container{
    width: 100%;
}
body {
    display: flex;
    font-family: "Poppins", sans-serif;
    background-image: linear-gradient(to right, #766ffe, #88f1fe );
    color: rgb(0, 225, 255);
    height: 100%;
    width: 100%;
}
.name{
    font-size: 30px;
    text-align: center;
    color: #fff;
    line-height: 60px;
    margin-left: 50px;
    margin-right: 1000px;
    font-weight: 500;
}
.tabs {
    /* display: flex; */
    /* position: relative; */
    background-color: black ;
    z-index: 1;
}
/* .tabs .line {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 6px;
    border-radius: 15px;
    background-color: #fff;
    transition: all 0.2s ease; */
/* } */
/* .tab-item {
    min-width: 200px;
    padding: 16px 20px 11px 20px;
    font-size: 20px;
    text-align: center;
    color: #fff   ;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 5px solid transparent;
    opacity: 0.6;
    cursor: pointer;
    transition: all 0.5s ease;
} */

.tab-icon {
    font-size: 24px;
    width: 32px;
    position: relative;
    top: 2px;
}
/* .tab-item:hover {
    opacity: 1;
    background-color: rgba(194, 53, 100, 0.05);
    border-color: rgba(194, 53, 100, 0.1);
} */
.tab-item.active {
    opacity: 1;
}
.tab-pane {
    color: #333;
    display: none;
}
.tab-pane.active {
    display: block;
}
.tab-pane h2 {
    font-size: 24px;
    margin-bottom: 8px;
}
.content_container{
    width: 80%;
    height: 500px;
    background-color: #fff;
    margin: auto;
    margin-top: 30px;
    border-radius: 15px;
    display: flex;
    animation: fadein ease-in 1s;
}
.img{
    border-radius: 15px;
    object-fit: contain;
    width: 430px;
    margin: 35px;
    animation: fadein ease-in 2s;
}
.greeting{
    font-size: 14px;
    color: #000;
}
.context{
    margin-top: 70px;
    font-family: 'Roboto', sans-serif;
    color:#777;
}
.myname{
    font-size: 50px;
    font-weight: 700;
    color: #000;
}
.work{
    font-weight: 700;
    color:#000;
}
.fa-birthday-cake{
    font-size: 20px;
}
.link_item{
    cursor: pointer;
    color: rgb(80, 179, 170);
    font-size: 75px;
    opacity: 0.2;
	background:-moz-linear-gradient(top, #766ffe 0%, #88f1fe 100%); 
    background: -webkit-linear-gradient(top, #766ffe 0%,#88f1fe 100%); 
    background: linear-gradient(to bottom, #766ffe 0%,#88f1fe 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
   -webkit-text-fill-color:transparent;
}
.link_item:hover{
    opacity: 1;
}
.link{
    position: absolute;
    bottom: 40px;
    right: 80px;
}
.fa-facebook-square, .fa-github-square{
    margin-bottom: 15px;
}
.fa-github-square, .fa-linkedin{
    margin-left: 15px;
}
.content_container_skill{
    display: flex;
}
.loading{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #222;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    flex-direction: column;
}
.loadingimg{
    justify-content: center;
    width: 400px;
}
.loadingend{
    display: none;
}
.firstcontainer{
    animation: fadein ease-in 4s;
}
.fa-registered{
    color: white;
    position: absolute;
    margin-left: 330px;
    margin-top: -50px;
}
.box1, .box2{
    background-color: white;
    width: 10px;
    height: 10px;
    z-index: 1;
    position: absolute;
}
.box1{
    right: 76px;
    bottom: 5px;
}
.box2{
    bottom: 90px;
    right: 75px;
}
.progressbar{
    background-color: #fff;
    height: 18px;
    width: 450px;
    margin-bottom: 10px;
    border-radius: 320px;
    border: 1px solid gainsboro;
}
.innerbar{
    background-color: #eee;
    height: 8px;
    width: 438px;
    margin-left: 5px;
    margin-top: 4px;
    border-radius: 320px;
}
